body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header-section {
    width: 100%;
    height: 100vh;
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
}

.header-descripton {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.header-descripton h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 95px;
}

.header-descripton p {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 50px;
    margin-top: -40px;
}

.buttons {
    text-decoration: none;
    color: white;
    background: #ff5959;
    padding: 18px 30px;
    font-size: 25px;
    border-radius: 5px;
}

.donate-main-div {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 90px 0px;
}

.title {
    font-size: 70px;
}

.description {
    font-size: 25px;
    line-height: 35px;
    margin-top: -35px;
    color: #707070;
}

.donate-center {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0px;
}

.amount {
    width: 200px;
    height: 180px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.amount-tk {
    font-size: 30px;
    color: #707070;
    margin: 0 auto;
}

.target {
    background-color: #ffeeee;
    border: 3px solid #ff5959;
}

.target h1 {
    color: #ff5959;
}

.other-amount {
    font-size: 27px;
    font-weight: 400;
    color: #b6b6b6;
    padding: 20px 0px;
    border-bottom: 2px solid #b6b6b6;
    margin-bottom: 70px;
}





.plan-section {
    margin-top: 80px;
    padding-bottom: 80px;
}

.plan-main-div {
    width: 1600px;
    margin: 0 auto;
}

.plan-header {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.plan-main-box {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}

.plan-box {
    width: 420px;
    height: 320px;
    background-color: #edf5f6;
    border-radius: 10px;
    padding: 90px 30px;
}

.plan-box h1 {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.center-box {
    background-color: #ffeeee;
}

.right-box {
    background-color: #fff4d6;
}